Repository googleapis/java-pubsublite, pull requests merged in 2020-12, with the labels that each got.

#387 feat: Add the PartitionCountWatchingPublisher
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/DefaultRoutingPolicy.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/RoutingPolicy.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PartitionCountWatchingPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PartitionCountWatchingPublisherSettings.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/PartitionCountWatchingPublisherTest.java
Labels: api: pubsublite, cla: yes

#391 feat: PSL spark sql streaming utility classes
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/Offset.java
  pom.xml
  pubsublite-spark-sql-streaming/pom.xml
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/Constants.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslCredentialsProvider.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSourceOptions.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslPartitionOffset.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslSourceOffset.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslSparkUtils.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslSourceOffsetTest.java
Labels: api: pubsublite, cla: yes

#397 fix: Remove extra logic to convert to project numbers now that this is handled in the backend
  google-cloud-pubsublite/clirr-ignored-differences.xml
  google-cloud-pubsublite/pom.xml
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/ProjectLookupUtils.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/PublisherSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/SubscriberSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/AdminClientImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/TopicStatsClientImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/AssignerBuilder.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/CommitterBuilder.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PublisherBuilder.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/RoutingMetadata.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SubscriberBuilder.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/PublisherOptions.java
Labels: api: pubsublite, cla: yes

#398 chore: remove kokoro tests covered by GitHub Actions
  .kokoro/nightly/java7.cfg
  .kokoro/presubmit/clirr.cfg
  .kokoro/presubmit/dependencies.cfg
  .kokoro/presubmit/java7.cfg
  .kokoro/presubmit/linkage-monitor.cfg
  .kokoro/presubmit/lint.cfg
Labels: api: pubsublite, cla: yes, kokoro:force-run

#406 fix: Deadlock in RetryingConnectionImpl when tearing down a connection
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/Lazy.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/ServiceClients.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/RetryingConnectionImpl.java
Labels: api: pubsublite, cla: yes

#385 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, cla: yes

#410 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#414 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#409 feat: Use the partition watching publisher in the cps client
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/PublisherSettings.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/cloudpubsub/PublisherSettingsTest.java
Labels: api: pubsublite, cla: yes

#418 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#396 feat: Major classes for Spark continuous streaming
  pubsublite-spark-sql-streaming/pom.xml
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/MultiPartitionCommitter.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/MultiPartitionCommitterImpl.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartition.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartitionReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSource.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSourceOptions.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/MultiPartitionCommitterImplTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartitionReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslContinuousReaderTest.java
Labels: api: pubsublite, cla: yes

#420 fix: Attempt to start the publisher and publish in the ITVPC test
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/it/ITVPCNegativeTest.java
Labels: api: pubsublite, cla: yes

#419 chore: Re-generated to pick up changes from googleapis.
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/AdminServiceClient.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/GrpcAdminServiceStub.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/GrpcCursorServiceStub.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/GrpcPartitionAssignmentServiceStub.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/GrpcPublisherServiceStub.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/GrpcSubscriberServiceStub.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/GrpcTopicStatsServiceStub.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/AdminServiceClientTest.java
  synth.metadata
Labels: api: pubsublite, cla: yes, context: full

#421 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#422 feat: ExtractStatus for ExecutionException
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/PartitionLookupUtils.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/BufferingPullSubscriber.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/ExtractStatus.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PartitionCountWatcherImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/it/ITVPCNegativeTest.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/TopicBacklogReaderSettings.java
Labels: api: pubsublite, cla: yes

#408 feat: BlockingPullSubscriber in Spark Continuous Processing
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/BlockingPullSubscriber.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/BlockingPullSubscriberImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/CloseableMonitor.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/BlockingPullSubscriberImplTest.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartition.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartitionReader.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartitionReaderTest.java
Labels: api: pubsublite, cla: yes

#427 chore: Update publish_javadoc.sh
  .kokoro/release/publish_javadoc.sh
  synth.metadata
Labels: api: pubsublite, cla: yes, context: full

#430 fix: Extract the rpc exception from IllegalStateExceptions in publish/…
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/it/ITVPCNegativeTest.java
Labels: api: pubsublite, cla: yes

#429 feat: Add ComputeHeadCursor RPC for Pub/Sub Lite
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/TopicStatsServiceClient.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/TopicStatsServiceSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/GrpcTopicStatsServiceStub.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/TopicStatsServiceStub.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/TopicStatsServiceStubSettings.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/MockTopicStatsServiceImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/TopicStatsServiceClientTest.java
  grpc-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/TopicStatsServiceGrpc.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ComputeHeadCursorRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ComputeHeadCursorRequestOrBuilder.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ComputeHeadCursorResponse.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ComputeHeadCursorResponseOrBuilder.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ComputeMessageStatsResponse.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ComputeMessageStatsResponseOrBuilder.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CreateSubscriptionRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CreateSubscriptionRequestOrBuilder.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CreateTopicRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CreateTopicRequestOrBuilder.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/PublisherProto.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/SubscriberProto.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/TopicStatsProto.java
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/admin.proto
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/common.proto
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/cursor.proto
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/publisher.proto
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/subscriber.proto
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/topic_stats.proto
  synth.metadata
Labels: api: pubsublite, cla: yes, context: full

#432 feat: Multiple fixes to make continuous mode work
  pom.xml
  pubsublite-spark-sql-streaming/pom.xml
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslCredentialsProvider.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSource.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslSparkUtils.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartitionReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslMicroBatchInputPartitionReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslSparkUtilsTest.java
Labels: api: pubsublite, cla: yes

#434 fix: adding a method to the internal wire publisher that will attempt to cancel all outstanding publishes
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/Publisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ApiExceptionPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PartitionCountWatchingPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PublisherImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/RoutingPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SinglePartitionPublisher.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/PartitionCountWatchingPublisherTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/PublisherImplTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/RoutingPublisherTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/SinglePartitionPublisherTest.java
Labels: api: pubsublite, cla: yes

#431 ci(java): ignore bot users for generate-files-bot
  .github/generated-files-bot.yml
  synth.metadata
Labels: api: pubsublite, cla: yes, context: full

#437 chore(java): remove formatter action
  .github/workflows/formatting.yaml
  synth.metadata
Labels: cla: yes, context: full
