Repository googleapis/java-pubsublite, pull requests merged in 2021-07, with the labels that each got.

#732 samples: exclude beam deps from pubsublite samples POM
  .github/workflows/samples.yaml
  samples/snippets/pom.xml
Labels: api: pubsublite, cla: yes, samples

#733 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#734 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#735 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#736 fix: Move BacklogLocation enum to standalone file
  google-cloud-pubsublite/clirr-ignored-differences.xml
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/AdminClient.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/BacklogLocation.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/AdminClientImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/AdminClientImplTest.java
Labels: api: pubsublite, cla: yes

#739 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#705 feat: Add SeekSubscription and Operations to API
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/AdminServiceClient.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/AdminServiceSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/gapic_metadata.json
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/AdminServiceStub.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/AdminServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/CursorServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/GrpcAdminServiceStub.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/PartitionAssignmentServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/PublisherServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/SubscriberServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/TopicStatsServiceStubSettings.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/AdminServiceClientTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/CursorServiceClientTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/MockAdminServiceImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/PartitionAssignmentServiceClientTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/PublisherServiceClientTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/SubscriberServiceClientTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/v1/TopicStatsServiceClientTest.java
  grpc-google-cloud-pubsublite-v1/pom.xml
  grpc-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/AdminServiceGrpc.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/AdminProto.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CommonProto.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/LocationName.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/OperationMetadata.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/OperationMetadataOrBuilder.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/PublisherProto.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ReservationName.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/SeekSubscriptionRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/SeekSubscriptionRequestOrBuilder.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/SeekSubscriptionResponse.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/SeekSubscriptionResponseOrBuilder.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/SubscriberProto.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/SubscriptionName.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/TopicName.java
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/admin.proto
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/common.proto
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/publisher.proto
  proto-google-cloud-pubsublite-v1/src/main/proto/google/cloud/pubsublite/v1/subscriber.proto
  synth.metadata
Labels: api: pubsublite, cla: yes, context: full, context: partial

#741 refactor: Add debug logging
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/AssignerImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PublisherImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/RetryingConnectionImpl.java
Labels: api: pubsublite, cla: yes

#740 feat: Support seek subscription in AdminClient
  google-cloud-pubsublite/clirr-ignored-differences.xml
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/AdminClient.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/SeekTarget.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/AdminClientImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/AdminClientImplTest.java
Labels: api: pubsublite, cla: yes

#743 fix: Updates for import
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/CloudRegionOrZone.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ConnectedSubscriberImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PartitionCountWatchingPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SubscriberFactory.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/ConnectedSubscriberImplTest.java
Labels: api: pubsublite, cla: yes

#742 chore: remove All rights reserved clause from java.header
  java.header
  synth.metadata
Labels: api: pubsublite, automerge, cla: yes, context: full

#748 feat: Blocking pull subscriber is AutoCloseable
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/BlockingPullSubscriber.java
Labels: api: pubsublite, cla: yes

#754 chore: update renovate.json
  renovate.json
Labels: api: pubsublite, cla: yes

#758 fix: create a hard failure when batching settings with flow control are used
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/PublisherSettings.java
Labels: api: pubsublite, cla: yes

#751 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, cla: yes

#760 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#768 fix(test): deflake SubscriptionPartitionProcessorImplTest
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/SubscriptionPartitionProcessorImplTest.java
Labels: api: pubsublite, cla: yes

#749 chore: replace SystemExecutors with MoreExecutors
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/AdminServiceClient.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/CursorServiceClient.java
  synth.metadata
Labels: api: pubsublite, cla: yes, context: none

#769 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#714 deps: define Beam version as a Maven property in pom
  pubsublite-beam-io/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: pubsublite, cla: yes

#730 feat: Update CloudPubsubChecks to CloudPubsubTransforms
  pom.xml
  pubsublite-beam-io/clirr-ignored-differences.xml
  pubsublite-beam-io/pom.xml
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/CloudPubsubChecks.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/CloudPubsubMessages.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/CloudPubsubTransforms.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/PubsubLiteIO.java
Labels: api: pubsublite, cla: yes

#772 fix: remove DlqProvider which should remain in the beam repo and bump beam version
  pubsublite-beam-io/clirr-ignored-differences.xml
  pubsublite-beam-io/pom.xml
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/DlqProvider.java
  samples/snapshot/pom.xml
Labels: api: pubsublite, cla: yes

#776 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#766 feat: split versions.txt to independently release the Beam IO
  pubsublite-beam-io/pom.xml
  versions.txt
Labels: api: pubsublite, cla: yes

#777 deps: Version bump cloud BOM and remove no longer needed dependency management settings
  pom.xml
  pubsublite-beam-io/pom.xml
Labels: api: pubsublite, cla: yes

#764 feat: promote to 1.0.0
  .repo-metadata.json
Labels: api: pubsublite, cla: yes

#779 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#784 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes
