Repository googleapis/java-pubsublite, pull requests merged in 2021-01, with the labels that each got.

#440 feat: Add non google default creds provider to subscribers in Spark Connector
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/AdminClientSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/CursorClientSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/TopicStatsClientSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/AssignerBuilder.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/CommitterBuilder.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PublisherBuilder.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/RoutingMetadata.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ServiceClients.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SubscriberBuilder.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PartitionSubscriberFactory.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartition.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSource.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSourceOptions.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslMicroBatchReader.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslContinuousReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslMicroBatchReaderTest.java
Labels: api: pubsublite, cla: yes

#446 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#445 feat: Update spark connector pom.xml
  pom.xml
  pubsublite-spark-sql-streaming/pom.xml
Labels: api: pubsublite, cla: yes

#439 feat: Compute head offset for Spark connector micro batch mode.
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/TopicStatsClient.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/TopicStatsClientImpl.java
  pubsublite-spark-sql-streaming/pom.xml
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/LimitingHeadOffsetReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PerTopicHeadOffsetReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSource.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSourceOptions.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslMicroBatchReader.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/LimitingHeadOffsetReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslMicroBatchReaderTest.java
Labels: api: pubsublite, cla: yes

#451 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#435 fix: Remove per-message byte limit in client
  google-cloud-pubsublite/clirr-ignored-differences.xml
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/Constants.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PublisherImpl.java
Labels: api: pubsublite, cla: yes

#441 feat: Spark connector readme
  pubsublite-spark-sql-streaming/README.md
Labels: api: pubsublite, cla: yes

#449 feat: fix bug where blockingpullsubscriber doesn't refill flowcontrol quota.
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/BlockingPullSubscriberImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/BlockingPullSubscriberImplTest.java
Labels: api: pubsublite, cla: yes

#453 feat: Fix snapshots references so that release could auto update
  pubsublite-spark-sql-streaming/pom.xml
Labels: api: pubsublite, cla: yes

#455 docs: correct beta to say unreleased
  pubsublite-spark-sql-streaming/README.md
Labels: api: pubsublite, cla: yes

#456 feat: Adds examples and fixes bugs in spark connector
  pubsublite-spark-sql-streaming/examples/simple_read.py
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslMicroBatchInputPartition.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslMicroBatchReader.java
Labels: api: pubsublite, cla: yes

#457 feat: Changed assert to Preconditions check
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartition.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartitionReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslMicroBatchInputPartitionReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslMicroBatchReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslSparkUtils.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/SparkSourceOffset.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/SparkSourceOffsetTest.java
Labels: api: pubsublite, cla: yes

#461 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#466 chore: adding docfx doclet resource
  .kokoro/release/publish_javadoc.cfg
  synth.metadata
Labels: api: pubsublite, automerge, cla: yes, context: full

#467 feat: Remove spark connector as a module
  pom.xml
  pubsublite-spark-sql-streaming/README.md
  pubsublite-spark-sql-streaming/examples/simple_read.py
  pubsublite-spark-sql-streaming/pom.xml
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/Constants.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/LimitingHeadOffsetReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/MultiPartitionCommitter.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/MultiPartitionCommitterImpl.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PartitionSubscriberFactory.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PerTopicHeadOffsetReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartition.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartitionReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslContinuousReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslCredentialsProvider.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSource.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslDataSourceOptions.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslMicroBatchInputPartition.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslMicroBatchInputPartitionReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslMicroBatchReader.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslPartitionOffset.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslSourceOffset.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/PslSparkUtils.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/SparkPartitionOffset.java
  pubsublite-spark-sql-streaming/src/main/java/com/google/cloud/pubsublite/spark/SparkSourceOffset.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/LimitingHeadOffsetReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/MultiPartitionCommitterImplTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslContinuousInputPartitionReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslContinuousReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslMicroBatchInputPartitionReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslMicroBatchReaderTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/PslSparkUtilsTest.java
  pubsublite-spark-sql-streaming/src/test/java/com/google/cloud/pubsublite/spark/SparkSourceOffsetTest.java
Labels: api: pubsublite, cla: yes

#469 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: pubsublite, automerge, cla: yes

#473 build: migrate to flakybot
  .kokoro/build.sh
Labels: api: pubsublite, automerge, cla: yes
