Repository googleapis/java-pubsublite, pull requests merged in 2021-11, with the labels that each got.

#924 feat: Introduce Native Image testing build script changes
  .kokoro/build.sh
  .kokoro/presubmit/graalvm-native.cfg
  synth.metadata
Labels: cla: yes, api: pubsublite, context: full

#942 chore: Add google-cloud-pubsublite-bom package
  google-cloud-pubsublite-bom/pom.xml
  pom.xml
Labels: automerge, cla: yes, api: pubsublite

#938 [CHANGE ME] Re-generated to pick up changes from synthtool.
  .github/workflows/ci.yaml
  synth.metadata
Labels: automerge, cla: yes, api: pubsublite, context: partial

#943 deps: Bump assorted dependencies which need to be incremented together
  pom.xml
  pubsublite-beam-io/pom.xml
Labels: cla: yes, api: pubsublite

#946 deps: Correct BOM deps
  google-cloud-pubsublite-bom/pom.xml
Labels: cla: yes, api: pubsublite

#923 chore(ruby): Re-enable bigquery-storage-v1 generation, which also required updating protobuf from 3.15.3 to 3.18.1 for codegen
  grpc-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/AdminServiceGrpc.java
  grpc-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CursorServiceGrpc.java
  grpc-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/PartitionAssignmentServiceGrpc.java
  grpc-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/PublisherServiceGrpc.java
  grpc-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/SubscriberServiceGrpc.java
  grpc-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/TopicStatsServiceGrpc.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CommitCursorRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ComputeHeadCursorRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ComputeMessageStatsRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ComputeTimeCursorRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CreateReservationRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CreateSubscriptionRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/CreateTopicRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/DeleteReservationRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/DeleteSubscriptionRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/DeleteTopicRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/GetReservationRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/GetSubscriptionRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/GetTopicPartitionsRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/GetTopicRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/InitialCommitCursorRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/InitialPartitionAssignmentRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/InitialPublishRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/InitialSubscribeRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListPartitionCursorsRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListPartitionCursorsResponse.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListReservationTopicsRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListReservationTopicsResponse.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListReservationsRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListReservationsResponse.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListSubscriptionsRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListSubscriptionsResponse.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListTopicSubscriptionsRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListTopicSubscriptionsResponse.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListTopicsRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/ListTopicsResponse.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/OperationMetadata.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/Reservation.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/SeekSubscriptionRequest.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/Subscription.java
  proto-google-cloud-pubsublite-v1/src/main/java/com/google/cloud/pubsublite/proto/Topic.java
  synth.metadata
Labels: cla: yes, api: pubsublite, context: full

#947 chore: Re-generated to pick up changes from synthtool
  .github/workflows/ci.yaml
  .kokoro/release/publish_javadoc11.sh
  synth.metadata
Labels: cla: yes, api: pubsublite, context: full

#873 fix: remove local copy of beam I/O now that it is merged to upstream
  README.md
  pom.xml
  pubsublite-beam-io/README.md
  pubsublite-beam-io/clirr-ignored-differences.xml
  pubsublite-beam-io/pom.xml
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/AddUuidsTransform.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/CloudPubsubMessages.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/CloudPubsubTransforms.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/InitialOffsetReader.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/InitialOffsetReaderImpl.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/LimitingTopicBacklogReader.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/ManagedBacklogReaderFactory.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/ManagedBacklogReaderFactoryImpl.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/OffsetByteProgress.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/OffsetByteRange.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/OffsetByteRangeCoder.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/OffsetByteRangeTracker.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/PerServerPublisherCache.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/PerSubscriptionPartitionSdf.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/PublisherCache.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/PublisherOptions.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/PublisherOrError.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/Publishers.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/PubsubLiteIO.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/PubsubLiteSink.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SerializableSubscriberFactory.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SerializableSupplier.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SubscribeTransform.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SubscriberOptions.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SubscriptionPartition.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SubscriptionPartitionCoder.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SubscriptionPartitionLoader.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SubscriptionPartitionProcessor.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SubscriptionPartitionProcessorFactory.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/SubscriptionPartitionProcessorImpl.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/TopicBacklogReader.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/TopicBacklogReaderImpl.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/TopicBacklogReaderSettings.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/TrackerWithProgress.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/Uuid.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/UuidCoder.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/UuidDeduplicationOptions.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/UuidDeduplicationTransform.java
  pubsublite-beam-io/src/main/java/com/google/cloud/pubsublite/beam/package-info.java
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/AddUuidsTransformTest.java
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/FakeSerializable.java
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/OffsetByteRangeTrackerTest.java
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/PerSubscriptionPartitionSdfTest.java
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/PubsubLiteSinkTest.java
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/SubscriptionPartitionLoaderTest.java
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/SubscriptionPartitionProcessorImplTest.java
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/TopicBacklogReaderImplTest.java
  pubsublite-beam-io/src/test/java/com/google/cloud/pubsublite/beam/UuidDeduplicationTransformTest.java
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/pubsublite/beam/ReadMessagesExample.java
  samples/snippets/src/main/java/pubsublite/beam/WriteMessagesExample.java
  samples/snippets/src/test/java/pubsublite/beam/BeamReadWriteIT.java
Labels: cla: yes, api: pubsublite

#956 chore: remove enable-samples profile
  .kokoro/build.sh
  CONTRIBUTING.md
  synth.metadata
Labels: automerge, cla: yes, api: pubsublite, context: full, samples
