Repository googleapis/java-pubsublite, pull requests merged in 2021-09, with the labels that each got.

#853 ci: removing linkage-monitor from the required checks
  .github/workflows/ci.yaml
  synth.metadata
Labels: automerge, cla: yes, api: pubsublite, context: full

#861 chore: update gapic-generator-java version to 2.1.0
  .github/workflows/ci.yaml
  README.md
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/AdminServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/CursorServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/PartitionAssignmentServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/PublisherServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/SubscriberServiceStubSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/v1/stub/TopicStatsServiceStubSettings.java
  renovate.json
  synth.metadata
Labels: automerge, cla: yes, api: pubsublite

#860 fix: Ensure notifyFailed is called and all services are stopped when a permanent error happens
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/ProxyService.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ApiServiceUtils.java
  pom.xml
Labels: cla: yes, api: pubsublite

#862 chore: remove readme autosynth config
  .kokoro/continuous/readme.cfg
Labels: cla: yes, api: pubsublite

#863 samples: add event time as a custom attribute
  samples/snippets/src/main/java/pubsublite/PublishWithCustomAttributesExample.java
  samples/snippets/src/main/java/pubsublite/SubscriberExample.java
Labels: cla: yes, api: pubsublite, samples

#866 chore: Re-generated to pick up changes from self
  .kokoro/continuous/readme.cfg
  synth.metadata
Labels: automerge, kokoro:force-run, cla: yes, api: pubsublite, context: none

#867 chore: Re-generated to pick up changes from synthtool
  .github/readme/synth.py
  .github/trusted-contribution.yml
  .kokoro/release/common.sh
  .kokoro/release/drop.sh
  .kokoro/release/promote.sh
  .kokoro/release/publish_javadoc.sh
  .kokoro/release/publish_javadoc11.sh
  .kokoro/release/stage.sh
  .kokoro/trampoline.sh
  synth.metadata
Labels: cla: yes, api: pubsublite, context: partial

#872 fix: simplify AckSetTrackerImpl and make acks after shutdown not cause a permanent error
  google-cloud-pubsublite/clirr-ignored-differences.xml
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/internal/AckSetTrackerImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/cloudpubsub/internal/AckSetTrackerImplTest.java
Labels: automerge, cla: yes, api: pubsublite

#880 fix: catch more possible errors in AssigningSubscriber and don't have hard errors on stopping subscribers
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/internal/AssigningSubscriber.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/cloudpubsub/internal/AssigningSubscriberTest.java
Labels: automerge, cla: yes, api: pubsublite

#881 feat: Allow regional path creation for when the backend supports this
  google-cloud-pubsublite/clirr-ignored-differences.xml
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/SubscriptionPath.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/TopicPath.java
Labels: automerge, cla: yes, api: pubsublite

#883 feat: Batch commit requests
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/internal/MultiPartitionSubscriber.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/internal/WrappingPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/MoreApiFutures.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/ProxyService.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/TrivialProxyService.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ApiExceptionCommitter.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ApiExceptionPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ApiServiceUtils.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/AssignerImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/BatchingCommitter.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/CommitterImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/CommitterSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PartitionCountWatchingPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/PublisherImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/RoutingPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SinglePartitionPublisher.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SubscriberImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/BatchingCommitterTest.java
Labels: automerge, cla: yes, api: pubsublite

#886 feat: Add ReassignmentHandler which is notified on client reassignment
  google-cloud-pubsublite/clirr-ignored-differences.xml
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/ReassignmentHandler.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/SubscriberSettings.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/internal/AssigningSubscriber.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/internal/SinglePartitionSubscriber.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/cloudpubsub/internal/AssigningSubscriberTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/cloudpubsub/internal/SinglePartitionSubscriberTest.java
Labels: automerge, cla: yes, api: pubsublite

#892 docs: Update ReassignmentHandler comments
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/ReassignmentHandler.java
Labels: cla: yes, api: pubsublite

#893 deps: bump beam.version and restucture snippets POM to not break
  pubsublite-beam-io/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: cla: yes, api: pubsublite

#898 chore: remove readme autosynth config
  .github/readme/synth.metadata/synth.metadata
  .kokoro/continuous/readme.cfg
Labels: automerge, cla: yes, api: pubsublite

#899 chore(java): remove dependencyDashboardLabel config from renovate.json
  renovate.json
  synth.metadata
Labels: cla: yes, api: pubsublite, context: full

#903 chore: change branch master to main in sync-repo-settings.yaml
  .github/sync-repo-settings.yaml
Labels: automerge, cla: yes, api: pubsublite

#905 build: add jdk 17 to java units and dependency builds
  .github/blunderbuss.yml
  .github/workflows/ci.yaml
  .kokoro/dependencies.sh
  pom.xml
  synth.metadata
Labels: cla: yes, api: pubsublite, context: full
