Repository googleapis/java-pubsublite, pull requests merged in 2022-03, with the labels that each got.

#1072 samples: update locations to regional and zonal
  samples/snippets/src/main/java/pubsublite/CreateSubscriptionExample.java
  samples/snippets/src/main/java/pubsublite/CreateTopicExample.java
  samples/snippets/src/main/java/pubsublite/DeleteSubscriptionExample.java
  samples/snippets/src/main/java/pubsublite/DeleteTopicExample.java
  samples/snippets/src/main/java/pubsublite/GetSubscriptionExample.java
  samples/snippets/src/main/java/pubsublite/GetTopicExample.java
  samples/snippets/src/main/java/pubsublite/ListSubscriptionsInProjectExample.java
  samples/snippets/src/main/java/pubsublite/ListSubscriptionsInTopicExample.java
  samples/snippets/src/main/java/pubsublite/ListTopicsExample.java
  samples/snippets/src/main/java/pubsublite/PublishWithBatchSettingsExample.java
  samples/snippets/src/main/java/pubsublite/PublishWithCustomAttributesExample.java
  samples/snippets/src/main/java/pubsublite/PublishWithOrderingKeyExample.java
  samples/snippets/src/main/java/pubsublite/PublisherExample.java
  samples/snippets/src/main/java/pubsublite/SeekSubscriptionExample.java
  samples/snippets/src/main/java/pubsublite/SubscriberExample.java
  samples/snippets/src/main/java/pubsublite/UpdateSubscriptionExample.java
  samples/snippets/src/main/java/pubsublite/UpdateTopicExample.java
  samples/snippets/src/test/java/pubsublite/QuickStartIT.java
Labels: api: pubsublite, samples

#1078 test: Flaky ConnectedCommitterImplTest
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/ConnectedCommitterImplTest.java
Labels: api: pubsublite

#1088 feat: add explicit duplicate subscriber handling to SubscriberImpl for beam
  google-cloud-pubsublite/clirr-ignored-differences.xml
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/ExtractStatus.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ResetSignal.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/RetryingConnectionImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SubscriberBuilder.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SubscriberImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/SubscriberImplTest.java
Labels: api: pubsublite

#1079 fix: Flush messages in serial executor before handling admin seek
  README.md
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/SerialExecutor.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SubscriberImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/SerialExecutorTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/SubscriberImplTest.java
Labels: automerge, api: pubsublite
