Repository googleapis/java-pubsublite, pull requests merged in 2022-02, with the labels that each got.

#929 samples: regional topics samples
  samples/snippets/src/main/java/pubsublite/CreateTopicExample.java
  samples/snippets/src/main/java/pubsublite/DeleteTopicExample.java
  samples/snippets/src/main/java/pubsublite/GetTopicExample.java
  samples/snippets/src/main/java/pubsublite/ListTopicsExample.java
  samples/snippets/src/main/java/pubsublite/UpdateTopicExample.java
  samples/snippets/src/test/java/pubsublite/QuickStartIT.java
Labels: cla: yes, api: pubsublite, samples

#967 docs: Update comments for regional topics
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/LocationPath.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/SubscriptionPath.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/TopicPath.java
  samples/snippets/src/test/java/pubsublite/QuickStartIT.java
Labels: api: pubsublite

#1031 fix: Ensure messages are delivered in order
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/SerialExecutor.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SubscriberImpl.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/SerialExecutorTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/SubscriberImplTest.java
Labels: api: pubsublite

#1038 fix: Mitigate gRPC stream connection issues
  google-cloud-pubsublite/clirr-ignored-differences.xml
  google-cloud-pubsublite/pom.xml
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ConnectedAssignerImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/ConnectedCommitterImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/RetryingConnectionImpl.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SingleConnection.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/StreamIdleTimer.java
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/internal/wire/SystemExecutors.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/ConnectedCommitterImplTest.java
  google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/internal/wire/StreamIdleTimerTest.java
Labels: api: pubsublite

#1062 fix: Committer stuck in retry loop on shutdown
  google-cloud-pubsublite/src/main/java/com/google/cloud/pubsublite/cloudpubsub/SubscriberSettings.java
Labels: api: pubsublite

#1069 deps: remove no longer needed explicit overrides
  pom.xml
Labels: automerge, api: pubsublite
